<ng-container *ngIf="!isLoading; else loadingTemplate">
  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Telescope Name</th>
          <th scope="col">Health Status</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-middle">
          <td></td>
          <td>
            <input class="form-control" type="text" placeholder="Enter telescope name..." [(ngModel)]="newTelescopeName">
          </td>
          <td></td>
          <td></td>
          <td class="text-end">
            <button class="btn btn-sm btn-outline-success" (click)="addTelescope()">
              <i class="fa fa-plus fa-fw"></i>
              <span class="d-none d-md-inline mx-1">Add</span>
            </button>
          </td>
        </tr>
        <ng-container *ngIf="telescopes.length === 0">
          <tr>
            <td colspan="5" class="text-center align-middle">
              No Data!
            </td>
          </tr>
        </ng-container>
        <tr class="align-middle" *ngFor="let telescope of telescopes; let i = index">
          <th> {{ i + 1 }}</th>
          <td> {{ telescope.name }} </td>
          <td> {{ telescope.health_status }} </td>
          <td> {{ telescope.created_at | date }}</td>
          <td class="text-end">
            <button class="btn btn-sm btn-outline-primary m-1" (click)="controlTelescope(telescope.id)">
              <i class="fa-solid fa-gamepad fa-fw"></i>
              <span class="d-none d-md-inline px-1">Control</span>
            </button>
            <button class="btn btn-sm btn-outline-secondary m-1" (click)="editTelescope(telescope.name)">
              <i class="fa-solid fa-pen fa-fw"></i>
              <span class="d-none d-md-inline px-1">Edit</span>
            </button>
            <button class="btn btn-sm btn-outline-danger m-1" (click)="deleteTelescope(telescope.name)">
              <i class="fa-solid fa-trash fa-fw"></i>
              <span class="d-none d-md-inline px-1">Delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>

<router-outlet></router-outlet>
