<table class="table table-hover text-center">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Telescope Name</th>
      <th scope="col">Heath Status</th>
      <th scope="col">Movenment Status</th>
      <th scope="col">Azimuth Angle</th>
      <th scope="col">Elevation Angle</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="isLoading">
      <tr>
        <td colspan="7">
          Loading...
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="!isLoading">
      <ng-container *ngIf="readings.length == 0">
        <tr class="text-center">
          <td colspan="7">
            No Data
          </td>
        </tr>
      </ng-container>
      <tr *ngFor="let reading of readings; let index = index;">
        <th scope="row">{{ index }}</th>
        <td>{{ reading.telescope_id }} {{ getTelescopeNameById(reading.telescope_id) }}</td>
        <td class="text-success">{{ reading.health_status }}</td>
        <td class="text-danger">{{ reading.movement_status ? "Moving" : "Stopped" }}</td>
        <td>{{ reading.az_angle }} &deg;</td>
        <td>{{ reading.el_angle }} &deg;</td>
        <td>{{ reading.created_at }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>