<div class="container-fluid px-3">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4>Sensor Readings Panel</h4>
          </div>
          <div class="row">
            <div class="col">
              <strong>Health</strong> 
              <div class="ps-2">
                Status: <span [ngClass]="true ? 'text-success':'text-danger'">{{ ['Normal', 'Warning', 'Error'][0] }}</span> <br>
              </div>
              <strong>GPS</strong>
              <div class="ps-2">
                Latitude: {{ 10 }} <br>
                Longitude: {{ 10 }} <br>
                Altitude: {{ 10 }}
              </div>
            </div>
            <div class="col">
              <strong>Magnetometer</strong>
              <div class="ps-2">
                Magnetic Field X: {{ 10 }} <br>
                Magnetic Field Y: {{ 10 }} <br>
                Magnetic Field Z: {{ 10 }}
              </div>
              <strong>Rotary Encoder</strong>
              <div class="ps-2">
                Azimuth Angle: {{ 10 }} <br>
                Elevation Angle: {{ 10 }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4>Telescope Pointing</h4>
            <div>
              <div class="btn-group">
                <button class="btn btn-primary" (click)="point()" [ngClass]="{'active': isPointing}">Point</button>
                <button class="btn btn-primary" (click)="track()" [ngClass]="{'active': !isPointing}">Track</button>
              </div>
            </div>
          </div>
          <div class="joystick-container text-center" (mousedown)="startDrag($event)" (mouseup)="stopDrag()" (mouseleave)="stopDrag()" (mousemove)="onMouseMove($event)">
            <svg [attr.width]="width" [attr.height]="height" viewBox="0 0 360 90">
              <g>
                <rect x="0" y="0" [attr.width]="width" [attr.height]="height" fill="none" stroke="gray" stroke-width="1" />
                <line *ngFor="let line of gridLines" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" stroke="gray" stroke-width="1" />
                <circle [attr.cx]="azimuth" [attr.cy]="elevation" r="5" fill="red" />
              </g>
            </svg>
            <div class="joystick-knob" [ngStyle]="{'transform': 'translate(' + knobPosition.x + 'px, ' + knobPosition.y + 'px)'}"></div>
          </div>
          
          <div *ngIf="isPointing">
            <div class="d-flex justify-content-between align-items-center mt-3">
                <input class="form-control me-2" type="number" [(ngModel)]="azimuth" placeholder="Azimuth Angle">
                <input class="form-control" type="number" [(ngModel)]="elevation" placeholder="Elevation Angle">
            </div>
            <button class="btn btn-primary mt-3" (click)="startPointing()">Point</button>
          </div>
          <div *ngIf="!isPointing" class="mt-3">
            <label for="source-select">Select Source:</label>
            <select class="form-control" id="source-select" [(ngModel)]="selectedSource">
              <option *ngFor="let source of sources" [value]="source.id">{{ source.name }}</option>
            </select>
            <button class="btn btn-primary mt-2" (click)="startTracking()">Track</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4>Monitor Panel</h4>
          </div>
          <div class="row py-3">
            <div class="col-12">
              <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
