<div class="container-fluid px-3">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5>Sensor Readings Panel</h5>
          </div>
          <div class="row">
            <div class="col">
              <strong>Health</strong> 
              <div class="ps-2">
                Status: <span [ngClass]="getHealthStatusClass()">{{ reading?.health_status }}</span>
              </div>
              <strong>GPS</strong>
              <div class="ps-2">
                Latitude: {{ reading?.lat }} <br>
                Longitude: {{ reading?.lon }} <br>
                Altitude: {{ reading?.alt }} m
              </div>
              <strong>Accelerometer</strong><br>
              <div class="ps-2">
                Acceleration X: {{ reading?.acc_x }} m/s²<br>
                Acceleration Y: {{ reading?.acc_y }} m/s²<br>
                Acceleration Z: {{ reading?.acc_z }} m/s²
              </div>
            </div>
            <div class="col">
              <strong>Magnetometer</strong>
              <div class="ps-2">
                Magnetic Field X: {{ reading?.mag_x }} T<br>
                Magnetic Field Y: {{ reading?.mag_y }} T<br>
                Magnetic Field Z: {{ reading?.mag_z }} T
              </div>
              <strong>Rotary Encoder</strong>
              <div class="ps-2">
                Azimuth Angle: {{ reading?.az_angle }} &deg; <br>
                Elevation Angle: {{ reading?.el_angle }} &deg;
              </div>
              <strong>Gyroscope</strong>
              <div class="ps-2">
                Gyro X: {{ reading?.gyo_x }} °/s<br>
                Gyro Y: {{ reading?.gyo_y }} °/s<br>
                Gyro Z: {{ reading?.gyo_z }} °/s
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 mt-2">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5>Control Panel</h5>
            <div>
              <div class="btn-group">
                <button class="btn btn-primary" (click)="point()" [ngClass]="{'active': isPointing}">Point</button>
                <button class="btn btn-primary" (click)="track()" [ngClass]="{'active': !isPointing}">Track</button>
              </div>
            </div>
          </div>
          <!--
          <div class="joystick-container text-center" (mousedown)="startDrag($event)" (mouseup)="stopDrag()" (mouseleave)="stopDrag()" (mousemove)="onMouseMove($event)">
            <svg [attr.width]="width" [attr.height]="height" viewBox="0 0 360 90">
              <g>
                <rect x="0" y="0" [attr.width]="width" [attr.height]="height" fill="none" stroke="gray" stroke-width="1" />
                <line *ngFor="let line of gridLines" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" stroke="gray" stroke-width="1" />
                <circle [attr.cx]="azimuth" [attr.cy]="elevation" r="5" fill="red" />
              </g>
            </svg>
            <div class="joystick-knob" [ngStyle]="{'transform': 'translate(' + knobPosition.x + 'px, ' + knobPosition.y + 'px)'}"></div>
          </div>
          -->
          <div *ngIf="isPointing">
            <div class="d-flex justify-content-between align-items-center mt-2">
                <input class="form-control me-2" type="number" [(ngModel)]="azimuth" placeholder="Azimuth Angle">
                <input class="form-control" type="number" [(ngModel)]="elevation" placeholder="Elevation Angle">
            </div>
            <button class="btn btn-primary mt-3" (click)="startPointing()">Point</button>
          </div>
          <div *ngIf="!isPointing" class="mt-2">
            <label for="source-select">Select Source:</label>
            <select class="form-control" id="source-select" [(ngModel)]="selectedSource">
              <option *ngFor="let source of sources" [value]="source.id">{{ source.name }}</option>
            </select>
            <button class="btn btn-primary mt-2" (click)="startTracking()">Track</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 mt-2">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5>Monitor Panel</h5>
            <div>
              <label for="resolutionSelect" class="form-label me-2 mb-0">Resolution:</label>
              <select id="resolutionSelect" class="form-select form-select-sm" [(ngModel)]="selectedResolution" (change)="onResolutionChange()">
                <option *ngFor="let option of resolutionOptions" [ngValue]="option">{{ option.label }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-8 offset-md-2 mt-2">
              <div class="card" [style.opacity]="isDeviceOnline ? '1' : '0.5'">
                <div class="card-body">
                  <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                  <div *ngIf="!isDeviceOnline" class="text-danger mt-2">
                    Device is offline or no recent data available.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
