<div class="d-flex justify-content-between py-2" style="border-bottom: 1px solid black;">
    <img width="100px" src="assets/sarao-logo.png" alt="South African Radio Astronomy Observertory Logo">
    <span class="text-end">
        <a class="px-1" routerLink="home">
            <i class="fa-regular fa-house"></i>
            <span>Home</span>
        </a>
        <a class="px-1" routerLink="cam">
            <i class="fa-regular fa-joystick"></i>
            <span>Control and Monitoring</span>
        </a>
        <a class="px-1" routerLink="commands">
            <i class="fa-solid fa-terminal"></i>
            <span>Commands</span>
        </a>
        <a class="px-1" routerLink="readings">
            <i class="fa-solid fa-book"></i>
            <span>Readings</span>
        </a>
        <button class="btn btn-danger">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span class="px-1">Sign Out</span>
        </button>
    </span>
</div>