<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="home" routerLinkActive="active">
      <img src="assets/sarao-logo.png" alt="South African Radio Astronomy Observatory Logo" width="100" />
    </a>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isNavbarCollapsed }">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">
            <i class="fa fa-home fa-fw"></i>
            &nbsp;
            <span [ngClass]="{ 'font-weight-bold': isActiveRoute('home') }">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cam" routerLinkActive="active">
            <i class="fa fa-gamepad fa-fw" aria-hidden="true"></i>
            &nbsp;
            <span [ngClass]="{ 'font-weight-bold': isActiveRoute('cam') }">CAM</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="commands" routerLinkActive="active">
            <i class="fa-solid fa-terminal fa-fw"></i>
            &nbsp;
            <span [ngClass]="{ 'font-weight-bold': isActiveRoute('commands') }">Commands</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="readings" routerLinkActive="active">
            <i class="fa-solid fa-book fa-fw"></i>
            &nbsp;
            <span [ngClass]="{ 'font-weight-bold': isActiveRoute('readings') }">Readings</span>
          </a>
        </li>
      </ul>
      <div class="d-flex align-items-center justify-content-end">
        <button class="btn btn-danger">
          <i class="fa-solid fa-arrow-right-from-bracket fa-fw"></i>
          <span class="px-1 font-weight-bold">Sign Out</span>
        </button>
      </div>
    </div>
  </div>
</nav>
