<div class="px-4">
    <div class="my-2 border border-dark rounded">
        <span style="margin-top: -12px;" class="font-weight-bold bg-white">Status Pannel</p>
        <div>
            Content
        </div>
    </div>
    <div class="row my-2 border border-dark rounded">
        <p class="font-weight-bold">Control Pannel</p>
        <div>
            Content
        </div>
    </div>
    <div class="row my-2 border border-dark rounded">
        <p class="font-weight-bold">Monitor Pannel</p>
        <div>
            Content
        </div>
    </div>
</div>