<div class="p-3">
    <p class="font-weight-bold bg-white" style="margin-bottom: -12px;">Status Pannel</p>
    <div class="row border border-dark py-3">
        <div class="bg-danger d-block" style="width: 50px; height: 50px; border-radius: 100%;"></div>
        <div class="bg-warning" style="width: 50px; height: 50px; border-radius: 100%;"></div>
        <div class="bg-success" style="width: 50px; height: 50px; border-radius: 100%;"></div>
    </div>
    <p class="font-weight-bold" style="margin-bottom: -12px;">Control Pannel</p>
    <div class="row border border-dark py-3">
        <div class="text-end" style="margin-top: -16px;">
            <a class="btn btn-secondary btn-sm" style="border-radius: 0px;" (click)="isPointingPageActive=true">Pointing</a>
            <a class="btn btn-secondary btn-sm" style="border-radius: 0px;" (click)="isPointingPageActive=false">Tracking</a>
        </div>
        <div [style.display]="!isPointingPageActive ? 'none' : 'inherit'">
            <label for="AzAngle">Azimuth Angle</label>
            <input class="form-control" type="number" name="AlAngle" placeholder="Enter Azimuth Angle Value">
            <label for="ElAngle">Elevation Angle</label>
            <input class="form-control" type="number" name="ElAngle" placeholder="Enter Elevation Angle Value">
            <button class="btn btn-dark">Point</button>
        </div>
        <div [style.display]="isPointingPageActive ? 'none' : 'inherit'">
            <label for="sources">Choose a source:</label>
            <select name="sources">
                <option name="none">None</option>
                <option value="sun">Sun</option>
                <option value="moon">Moon</option>
            </select>
        </div>
    </div>
    <p class="font-weight-bold" style="margin-bottom: -12px;">Monitor Pannel</p>
    <div class="row border border-dark py-3">
        <div>
            <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
        </div>
    </div>
</div>